* {
  font-family: Arial, Helvetica, sans-serif;
}
/* Navbar */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.navbar *{
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.navbar img {
  width: 20px;
}
.navbar {
  position: sticky;
  top: 1px;
  background-color: white;
  z-index: 99;
}

#cart-item-counter {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  color: white;
  background-color: black;
  text-align: center;
  font-size: 0.6em;
  margin-left:-3em;
  margin-top: -3em;
}

.navbar .logo {
  width: 156px;
  height: 38px;
  cursor: pointer;
}
.uppernav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  margin: auto;
  margin-top: 10px;
}
.navRightSec {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navSearch {
  display: flex;
  align-items: center;
  margin: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 20px;
}
.navAppPromo{
  display: flex;
  align-items: center;
  font-size: 1.02em;
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-right: 1px solid rgba(0, 0, 0, 0.336);
}
.navSuplier{
  font-size: 1.02em;
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-right: 1px solid rgba(0, 0, 0, 0.336);
}
.navProfile{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.02em;
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  cursor: pointer;
}
.navcart{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.02em;
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  cursor: pointer;
}
/* search container css */
.searchContainer {
  width: 400px;
  height: 43px;
  font-size: 1.03em;
  padding-left: 2.5em;
}
.NavSearchIcon{
  margin-right: -2em;
  z-index: 1;
}
/* nav menu styles */

li:hover {
  color: #ff488b;
}
.nav-menu ul{
  display: flex;
  list-style: none;
  justify-content: space-around;
  max-width: 1350px;
  margin: auto;
  cursor: pointer;
}
.bottomNav {
  margin-top: 1em;
  border-top: 1px solid rgba(61, 61, 61, 0.199);
  border-bottom: 1px solid rgba(61, 61, 61, 0.199);
}
.nav-menu ul li {
  padding-top: 1em;
  padding-bottom: 1em;
}

.bottomNav ul{
  list-style: none;
}
.submenu {
  display: flex;
  position: absolute;
  margin-top: 1em;
  display: none;
  border: 1px solid rgba(61, 61, 61, 0.199);
  padding-left: 1em;
  padding-right: 1em;
  background-color: white;
}
.subCat {
  display: flex;
  flex-direction: column;
  color: black;
}
.subCat span {
  margin: 0.3em;
}
.subCat span:hover {
  color: #ff488b;
}
.subCat .catHeading {
  margin-bottom: 1em;
  color: #ff488b;
}
.nav-menu ul .dropdown:hover .submenu{
  display: flex;
}
.head_container {
  width: 100%;
}
.heroSection {
  width: 100%;
  height: 365px;
  display: flex;
  justify-content: center;
}
.centered-heading {
  display: flex;
  align-items: center;
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
}

.line-left,
.line-right {
  flex: 1;
  border-top: 1px solid rgb(100, 100, 128);
  margin: 0 10px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 36px;
}

/* store section */

.store {
  background-image: url("https://images.meesho.com/images/marketing/1678691670429_1200.webp");
  height: 550px;
  width: 85%;
  margin-left: 7.5%;
  margin-top: 15px;
}
.store_sections {
  display: flex;
  align-items: flex-end;
  margin-top: 30px;
  margin-left: 22px;
  column-gap: 10px;
}
.sec_1 {
  height: 429px;
  width: 400px;
  border-radius: 10px;
  margin-top: 100px;
}
.sec_2,
.sec_3 {
  height: 291px;
  width: 312px;
  margin-left: 20px;
}
.sec_1 a > img {
  height: 100%;
}

/* Essentials */

.essentials {
  display: flex;
  background-image: url("https://images.meesho.com/images/marketing/1678691743015_1200.webp");
  height: 550px;
  width: 85%;
  margin-left: 7.5%;
  margin-top: 40px;
}
.imagesBox {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  width: 700px;
  gap: 15px;
  margin-left: 10%;
  margin-top: 10%;
}
.img1,
.img2,
.img3 {
  height: 328px;
  width: 200px;
}
.btn1,
.btn2,
.btn3 {
  height: 50px;
  width: 100%;
  display: flex;
}

.btn {
  height: 100px;
  width: 200px;
  margin-top: 22%;
  margin-left: 10%;
}
.btn button {
  height: 60px;
  width: 150px;
  font-size: x-large;
  font-weight: bolder;
  background-color: purple;
  color: white;
  border: none;
  border-radius: 5px;
}
.btn1 button {
  height: 40px;
  width: 80%;
  margin-left: 10%;
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
}
.btn2 button {
  height: 40px;
  width: 80%;
  margin-left: 10%;
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
}
.btn3 button {
  height: 40px;
  width: 80%;
  margin-left: 10%;
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
}
a {
  text-decoration: none;
}


/* New Styles */

.newStyles {
  display: flex;
  background-image: url("	https://images.meesho.com/images/marketing/1678691892265_1200.webp");
  height: 550px;
  width: 85%;
  margin-left: 7.5%;
  margin-top: 40px;
}
